@import '~daemonite-material/assets/scss/material.scss';
// Material icons
@import "~material-design-icons-iconfont-only/iconfont/material-icons.css";

html {
    position: relative;
    min-height: 100%;
}

body {
    //noinspection CssOptimizeSimilarProperties
    background-color: $material-color-teal-050;
    //noinspection CssOptimizeSimilarProperties
    background-image: url("../Images/bg.jpg");
    //noinspection CssOptimizeSimilarProperties
    background-attachment: fixed;
    background-size: 100vw 100vh;
    margin: 0;
    margin-bottom: 60px; /* Margin bottom by footer height */

}

.content {
    margin: 15vh 0 0 0;
}

#log {
    background: black;
    padding: 15px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    p {
        margin: 0;
        color: white;
        font-size: 14px;
        font-family: monospace;
        float: left;
        width: 100%;
        white-space: pre-wrap;
    }
}

.hidden {
    display: none;
}

@mixin material-icon-font {
    //noinspection CssNoGenericFontName
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#builderContainer {
    .custom-switch {
        position: relative;
        left: 15px;
        top: 7px;
    }
}

#logContainer {
    width: 100%;
    background: black;
    padding: 10px;
    border-radius: 2px;
    margin: 25px 0 0 0;
    color: white;
    font-family: monospace;
    font-size: 13px;
    white-space: pre-wrap;
    height: 500px;
    overflow-y: scroll;
    p {
        white-space: pre-wrap;
        margin: 0;
    }
}

[data-select-builder] {
    cursor: pointer;
    &.opened {
        @extend .bg-primary;
        @extend .text-white;
    }
    &.active {
        &:after {
            content: 'power_off';
            color: $material-color-green-500;
        }
    }

    &:after {
        @include material-icon-font;
        position: absolute;
        right: -90px;
        top: 13px;
        content: 'power_off';
        color: $material-color-red-500;
    }
    &.active.opened {

    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    ul {
        margin: 0;
    }
}
