{{#if hasBuilders}}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                {{#each builders}}
                    <div class="card mb-3 {{#if this.active}}active{{/if}}" id="builderSelector{{@key}}" data-select-builder="{{@key}}">
                        <div class="card-header">
                            {{@key}}
                        </div>
                    </div>
                {{/each}}

            </div>
            <div class="col-12 col-md-9">
                <div id="builderContainer">
                    <div class="card">
                        <div class="card-header text-center">
                            Please select a builder
                        </div>
                    </div>
                </div>
                <div id="logContainer" class="hidden"></div>
            </div>
        </div>
    </div>
{{else}}
    <div class="container">
        <div class="col-12 col-md-6 offset-md-3">

            <div class="card">
                <div class="card-header text-center">
                    <h5 class="text-center">It seems you have no builders configured in your config file!</h5>
                </div>
            </div>
        </div>
    </div>
{{/if}}
