<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/dist/commons.css'/>
    <script src="/dist/commons.js"></script>
    <script src="/dist/app.js"></script>
</head>
<body>
<div class="content">
    {{{body}}}
</div>
</body>
</html>
