<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/dist/commons.css'/>
    <script>
        window.currentBuilder = {{#if builder}}{{{builder}}}{{else}}false{{/if}};
    </script>
    <script src="/dist/commons.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Builbo</a>
</nav>
<div class="content">
    {{{body}}}
</div>
</body>
</html>
