@import '~daemonite-material/assets/scss/material.scss';
@import '~xterm/dist/xterm.css';

body {
    //noinspection CssOptimizeSimilarProperties
    background-color: $material-color-pink-100;
    //noinspection CssOptimizeSimilarProperties
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.35'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
    margin: 15vh 0 0 0;
}

#log {
    background: black;
    padding: 15px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    p {
        margin: 0;
        color: white;
        font-size: 14px;
        font-family: monospace;
        float: left;
        width: 100%;
        white-space: pre-wrap;
    }
}
