@import '~daemonite-material/assets/scss/material.scss';

body {
    //noinspection CssOptimizeSimilarProperties
    background-color: $material-color-teal-050;
    //noinspection CssOptimizeSimilarProperties
    background-image: url("../Images/bg.jpg");
    background-size: 100vw 100vh;
}

.content {
    margin: 15vh 0 0 0;
}

#log {
    background: black;
    padding: 15px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    p {
        margin: 0;
        color: white;
        font-size: 14px;
        font-family: monospace;
        float: left;
        width: 100%;
        white-space: pre-wrap;
    }
}
